
.content_port{
  
    display: flex;
    width: inherit;

}
.content_port div{
    align-self: center;
    
}
.size_img_port{
    width: 400px;
    min-height: 200px;
    height: 400px;
}
.info_port{
    height: auto;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.content_btn_github{
    margin: 20px;
    background-color: #2703A6;
    border: #ffffff solid 2px;
    border-radius: 20px;
    padding: 0.8em 2em 0.8em 2em;
    width: auto;
    display: inline-grid;
    cursor: pointer;   
}  

.content_btn_github a{
    height: 1.5em;
    text-decoration: none;
    color: white;
    padding: auto;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(16px,auto) minmax(16px,auto);
    gap: 5px;
}
.content_btn_github a:active{
    color: white;
    text-decoration: none;
}
.txt_btn{
    align-self: center;
}
.content_btn_github {
    .icon_min{
    width: 1.5em;
    height: 1.5em;
}
}

.btn_prev{
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
      z-index: 2;

  cursor: pointer;
}

.btn_next{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(50%, -50%);
    cursor: pointer;
}
.btn_prev,.btn_next{
    .icon_min{
    width: 1.5em;
    height: 1.5em;
}
    background-color: white;
    justify-self: start;
    align-self: center;
}

/* slider.component.css */

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #010440;
  transition: transform 0.5s ease-in-out; /* Transición para el deslizamiento suave */
}

/* Cada slide ocupa el 100% del ancho del contenedor */
.slider .card {
  min-width: 100%;
}

/* Resto de estilos para botones, círculos, etc. */
.btn_next {
  cursor: pointer;
  /* otros estilos para posicionar el botón */
}

.cntn_circles_slider {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.circle_slider {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.circle_slider.circle_active {
  background-color: white;
}