
.container{
    display: flex;
    position: relative;
}

.btn_prev{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.content_port{
  
    display: flex;
    width: inherit;
    height: inherit;
    grid-template-columns: 1fr 1fr;

}
.content_port div{
    align-self: center;
    
}
.size_img_port{
    width: 400px;
    min-height: 200px;
    height: 400px;
}
.info_port{
    height: auto;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-rows: minmax(1em,auto) minmax(1em,auto) minmax(1em,auto) minmax(1em,auto);
    gap: 10px;
}
.content_etiq{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.content_btn_github{
    margin: 20px;
    background-color: #2703A6;
    border: #ffffff solid 2px;
    border-radius: 20px;
    padding: 0.8em 2em 0.8em 2em;
    width: auto;
    display: inline-grid;
    cursor: pointer;   
}  

.content_btn_github a{
    height: 1.5em;
    text-decoration: none;
    color: white;
    padding: auto;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(16px,auto) minmax(16px,auto);
    gap: 5px;
}
.content_btn_github a:active{
    color: white;
    text-decoration: none;
}
.txt_btn{
    align-self: center;
}
.content_btn_github 
.icon_min{
    width: 1.5em;
    height: 1.5em;
}

.btn_next{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: white;
    justify-self: start;
    align-self: center;
}