<div  class="container">
    <div class="sectn_my_proy_tittle">
        <p class="title_text">Portafolio</p>
    </div>
    <div class="btn_prev">
        <div class="btn_element" id="btn_prev">
            <img src="./svg/arrow_prev.svg" class="img_size">
        </div>

    </div>
   
    <div class="slider">
      
        <div class="card"  >
            <div class="content_port">
                <div style="justify-self: center;">
                    <div  class="size_img_port testbg mrg_img"></div>
                </div>
                <div class="info_port">
                    <div style="justify-self: center;">
                        <p class="subtitle_text">Aplicacion #1</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eos ipsa magni velit cumque doloribus itaque ratione incidunt. Quas quisquam eum consectetur ullam molestias eaque magni, eligendi mollitia voluptates. Totam.</p>
                    </div>
                    <div class="content_etiq">
                        <span>Etiquetas</span>
                        <div class="chips">
                            <span>Ola</span>
                        </div>
    
                        <div class="chips">
                            <span>Mundo</span>
                        </div>
                    </div>
                    <div>
                        <div class="content_btn_github">
                            <a href="#">
                                <span class="txt_btn">Ver repositorio</span>
                                <span>
                                    <img class="icon_min" src="./svg/github.svg" alt="">
                                </span>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="content_port">
                <div style="justify-self: center;">
                    <div  class="size_img_port testbg mrg_img"></div>
                </div>
                <div class="info_port">
                    <div style="justify-self: center;">
                        <p class="subtitle_text">Aplicacion #1</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eos ipsa magni velit cumque doloribus itaque ratione incidunt. Quas quisquam eum consectetur ullam molestias eaque magni, eligendi mollitia voluptates. Totam.</p>
                    </div>
                    <div class="content_etiq">
                        <span>Etiquetas</span>
                        <div class="chips">
                            <span>Ola</span>
                        </div>
    
                        <div class="chips">
                            <span>Mundo</span>
                        </div>
                    </div>
                    <div>
                        <div class="content_btn_github">
                            <a href="#">
                                <span class="txt_btn">Ver repositorio</span>
                                <span>
                                    <img class="icon_min" src="./svg/github.svg" alt="">
                                </span>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="content_port">
                <div style="justify-self: center;">
                    <div  class="size_img_port testbg mrg_img"></div>
                </div>
                <div class="info_port">
                    <div style="justify-self: center;">
                        <p class="subtitle_text">Aplicacion #1</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eos ipsa magni velit cumque doloribus itaque ratione incidunt. Quas quisquam eum consectetur ullam molestias eaque magni, eligendi mollitia voluptates. Totam.</p>
                    </div>
                    <div class="content_etiq">
                        <span>Etiquetas</span>
                        <div class="chips">
                            <span>Ola</span>
                        </div>
    
                        <div class="chips">
                            <span>Mundo</span>
                        </div>
                    </div>
                    <div>
                        <div class="content_btn_github">
                            <a href="#">
                                <span class="txt_btn">Ver repositorio</span>
                                <span>
                                    <img class="icon_min" src="./svg/github.svg" alt="">
                                </span>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="content_port">
                <div style="justify-self: center;">
                    <div  class="size_img_port testbg mrg_img"></div>
                </div>
                <div class="info_port">
                    <div style="justify-self: center;">
                        <p class="subtitle_text">Aplicacion #1</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eos ipsa magni velit cumque doloribus itaque ratione incidunt. Quas quisquam eum consectetur ullam molestias eaque magni, eligendi mollitia voluptates. Totam.</p>
                    </div>
                    <div class="content_etiq">
                        <span>Etiquetas</span>
                        <div class="chips">
                            <span>Ola</span>
                        </div>
    
                        <div class="chips">
                            <span>Mundo</span>
                        </div>
                    </div>
                    <div>
                        <div class="content_btn_github">
                            <a href="#">
                                <span class="txt_btn">Ver repositorio</span>
                                <span>
                                    <img class="icon_min" src="./svg/github.svg" alt="">
                                </span>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="content_port">
                <div style="justify-self: center;">
                    <div  class="size_img_port testbg mrg_img"></div>
                </div>
                <div class="info_port">
                    <div style="justify-self: center;">
                        <p class="subtitle_text">Aplicacion #1</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eos ipsa magni velit cumque doloribus itaque ratione incidunt. Quas quisquam eum consectetur ullam molestias eaque magni, eligendi mollitia voluptates. Totam.</p>
                    </div>
                    <div class="content_etiq">
                        <span>Etiquetas</span>
                        <div class="chips">
                            <span>Ola</span>
                        </div>
    
                        <div class="chips">
                            <span>Mundo</span>
                        </div>
                    </div>
                    <div>
                        <div class="content_btn_github">
                            <a href="#">
                                <span class="txt_btn">Ver repositorio</span>
                                <span>
                                    <img class="icon_min" src="./svg/github.svg" alt="">
                                </span>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
   
    <div class="btn_next" >
        <div class="btn_element" id="btn_next">
            <img src="./svg/arrow_next.svg" class="img_size">
        </div>
    </div>   
    <div class="cntn_circles_slider">
        <div class="circle_slider circle_active"></div>
        <div class="circle_slider "></div>
        <div class="circle_slider "></div>
        <div class="circle_slider"></div>
        <div class="circle_slider"></div>
    </div>     
    <!-- <div class="progress_bar">
        <div class="elemento_progress"></div>
    </div> -->
</div>