       <!--Seccion para mis datos de contaco-->
       <footer id="contacto">
        <div class="h_auto cnt_redes_footer">
            <span class="title_text ">Contacto</span>
        </div>
        <div class="cnt_redes_footer">
            <div class="circle_red_social">
                <img class="size_little" src="./svg/gmail.svg" alt="">
            </div>
            <div class="circle_red_social">
                <img class="size_little" src="./svg/gmail.svg" alt="">
            </div>
            <div class="circle_red_social">
                <img class="size_little" src="./svg/linkedin.svg" alt="">
            </div>
            <div class="circle_red_social">
                <img class="size_little" src="./svg/twitter.svg" alt="">
            </div>
            <div class="circle_red_social">
                <img class="inh" src="./svg/github_dark.svg" alt="">
            </div>
        </div>
        <p id="slider-value">0</p>
</footer>