.container-body{
    margin: 0;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Karla', sans-serif;
    background-color: #010440;
    color: white;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

.sctn_knowd_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 1rem;
}